.DS_Store
*.sublime-*
node_modules/
workspace/uploads/images/*.jpg
workspace/uploads/images/*.jpeg
workspace/uploads/images/*.png
workspace/uploads/images/*.gif
manifest/config.php
manifest/cache/*
manifest/logs/*
manifest/tmp/*